<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProfileStart"
			 connectionString="server=localhost;port=3306;username=startingUSER;password=USER;database=profile"
			 providerName="MySql.Data.MySqlClient"/>
		<add name="ProfileClient"
			 connectionString="server=localhost;port=3306;username=clientUSER;password=client;database=profile"
		     providerName="MySql.Data.MySqlClient"/>
		<add name="ProfileRoot"
			 connectionString="server=localhost;port=3306;username=root;password=root;database=profile"
		     providerName="MySql.Data.MySqlClient"/>
		<add name="ProfileAdminSC"
			 connectionString="server=localhost;port=3306;username=adminspUSER;password=adminsp;database=profile"
		     providerName="MySql.Data.MySqlClient"/>
		<add name="ProfileAccountant"
			 connectionString="server=localhost;port=3306;username=accountantUSER;password=accountant;database=profile"
		     providerName="MySql.Data.MySqlClient"/>
		<add name="ProfileCoach"
			 connectionString="server=localhost;port=3306;username=coachUSER;password=coach;database=profile"
		     providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>